## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.pidb
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

## Test results
TestResults/
coverage/

## OS
.DS_Store
Thumbs.db
